blinker==1.8.2
click==8.1.7
flake8==7.0.0
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
importlib-metadata==7.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
pip==21.2.4
pycodestyle==2.11.1
pyflakes==3.2.0
setuptools==58.0.4
SQLAlchemy==2.0.30
typing-extensions==4.11.0
Werkzeug==3.0.3
zipp==3.18.1
